
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BusinessReport</title>
</head>
<body>
    <img src="~/css/NewFolder/Business_01.PNG" />
</body>
</html>
