
@{
    ViewData["Title"] = "About";
}

<style>
    b {
        font-size: xx-large;
        letter-spacing: 10px;
        line-height: 1em;
        display: block;
        color: #E3E3E3;
        margin-top: 2px;
        text-transform: lowercase;
    }
</style>
<div class="text-center">
    <div class="row">
        <div class="container">
            <h3 style="color: burlywood; text-shadow: 2px 2px 4px #000000;">Services</h3>

        </div>

        <div class="col-lg-3">
            <div class="box">
                <h4 style="color: burlywood; text-shadow: 2px 2px 4px #000000;">Development </h4>
                <p style="color:saddlebrown">
                    Your participation in this study is completely voluntary. Although there are absolutely no risks associated with this project, if you feel uncomfortable answering any questions, you can withdraw from the survey at any point. Your
                    response is greatly valued and appreciated.Your survey responses will be strictly anonymous and data from this research will be reported only in the aggregate.
                </p>

            </div>
        </div>

        <div class="col-lg-3">
            <div class="box">
                <h4 style="color: burlywood; text-shadow: 2px 2px 4px #000000;">Consulting</h4>
                <p style="color:saddlebrown">
                    A consulting report is usually prepared by an expert for a client or company that doesn't have the time or knowledge to do the necessary research and write up a report. Preparing reports is usually part of a consultant’s job description.
                </p>

            </div>
        </div>

        <div class="col-lg-3">
            <div class="box">
                <h4 style="color: burlywood; text-shadow: 2px 2px 4px #000000;">Testing</h4>
                <p style="color:saddlebrown">
                    Testing provides a means to check whether the questionnaire is valid in itself (form; question formulation, including translation if relevant; overall structure and transitions between questions and/or question sets), and to validate
                    the data collection protocol (interviewer recruitment and training; interpreter training where relevant; the tasks of contacting respondents and presenting the survey to them; tools used for follow-up in the field, etc.).
                </p>

            </div>
        </div>

        <div class="col-lg-3">
            <div class="box">
                <h4 style="color: burlywood; text-shadow: 2px 2px 4px #000000;">Business</h4>
                <p style="color:saddlebrown">
                    A business survey is a research tool that is used for collecting relevant data about a business from a predetermined audience. It is made up of a set of structured questions that help you to gather information about industry dynamics,market preferences, competition, and other important business variables.
                </p>

            </div>


        </div>
    </div>
</div>
<div class="text-center">


    <div class="container">
        <div class="text-center">
            <h3 style="color: burlywood; text-shadow: 2px 2px 4px #000000;">Team Members</h3>

        </div>
        <div class="text-center">


            <img style="width:300px;height:400px" class="img-responsive" src="~/css/NewFolder/img3.jpeg" alt="">
            <div class="captn">
                <div class="captn-top">
                    <h4 style="text-shadow:2px 2px 4px "><i>Rohan Jha</i> </h4>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">

    <img style="width:300px;height:400px" class="img-responsive" src="~/css/NewFolder/img4.jpeg" alt="">
    <div class="captn">
        <div class="captn-top">
            <h4 style="text-shadow:2px 2px 4px "><i>Poulami Das</i> </h4>

        </div>
    </div>
</div>


<div class="text-center">


    <img style="width:300px;height:400px" class="img-responsive" src="~/css/NewFolder/img7.jpeg" alt="">
    <div class="captn">
        <div class="captn-top">
            <h4 style="text-shadow:2px 2px 4px "><i>Atulya Dash</i> </h4>

        </div>
    </div>
</div>

<div class="text-center">


    <img style="width:300px;height:400px" class="img-responsive" src="~/css/NewFolder/img8.jpeg" alt="">
    <div class="captn">
        <div class="captn-top">
            <h4 style="text-shadow:2px 2px 4px "><i>Ankit Sahoo</i> </h4>

        </div>
    </div>
</div>

<div class="text-center">


    <img style="width:300px;height:400px" class="img-responsive" src="~/css/NewFolder/img14.jpg" alt="">
    <div class="captn">
        <div class="captn-top">
            <h4 style="text-shadow:2px 2px 4px "><i>Suruchi Sinha</i> </h4>

        </div>
    </div>
</div>

<div class="text-center">

    <img style="width:300px;height:400px" class="img-responsive" src="~/css/NewFolder/img15.jpeg" alt="">
    <div class="captn">
        <div class="captn-top">
            <h4 style="text-shadow:2px 2px 4px "><i>Ankit Senapati</i> </h4>

        </div>
    </div>
</div>

<div class="text-center">


    <img style="width:300px;height:400px" class="img-responsive" src="~/css/NewFolder/img5.jpeg" alt="">
    <div class="captn">
        <div class="captn-top">
            <h4 style="text-shadow:2px 2px 4px "><i>Swagatika Badajena</i> </h4>

        </div>
    </div>
</div>
